Options -Indexes

RewriteEngine on

# ErrorDocument 404 /error.php




# Trail tweets navigation
RewriteRule ^$ app/controller/siteController.php?action=before_signin [QSA,L]
RewriteRule ^home/?$ app/controller/siteController.php?action=home [QSA,L]
RewriteRule ^search/?$ app/controller/siteController.php?action=search [QSA,L]
RewriteRule ^viewtweet/?$ app/controller/siteController.php?action=viewtweet [QSA,L]
